[submodule "smart_contracts/lib/aave-v3-core"]
	path = smart_contracts/lib/aave-v3-core
	url = https://github.com/aave/aave-v3-core
[submodule "smart_contracts/lib/gho-core"]
	path = smart_contracts/lib/gho-core
	url = https://github.com/aave/gho-core
[submodule "smart_contracts/lib/openzeppelin-contracts"]
	path = smart_contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "foundry_superfluid/lib/ethereum-contracts"]
	path = foundry_superfluid/lib/ethereum-contracts
	url = https://github.com/superfluid-finance/ethereum-contracts
[submodule "foundry_superfluid/lib/superfluid-protocol-monorepo"]
	path = foundry_superfluid/lib/superfluid-protocol-monorepo
	url = https://github.com/superfluid-finance/protocol-monorepo
[submodule "foundry_superfluid/lib/forge-std"]
	path = foundry_superfluid/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry_superfluid/lib/openzeppelin-contracts"]
	path = foundry_superfluid/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
